{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "age"
brew "awscli"
brew "bat"
brew "chezmoi"
brew "cmake"
brew "coreutils"
brew "eza"
brew "findutils"
brew "fzf"
brew "gcc"
brew "gh"
brew "git"
brew "gnupg"
brew "grep"
brew "htop"
brew "lazygit"
brew "mas"
brew "moreutils"
brew "neofetch"
brew "neovim"
brew "openssh"
brew "poppler"
brew "postgresql@14"
brew "pyenv"
brew "pygments"
brew "ripgrep"
brew "ruby"
brew "screen"
brew "speedtest-cli"
brew "starship"
brew "tailscale"
brew "terminal-notifier"
brew "tldr"
brew "tmux"
brew "trash-cli"
brew "tree"
brew "vim"
brew "wget"
brew "xclip"
brew "yarn"
brew "zlib"
brew "zoxide"
brew "zsh"
brew "zsh-autosuggestions"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
#cask "1password"
cask "1password-cli"
cask "arc"
cask "balenaetcher"
cask "brave-browser"
cask "devonthink"
cask "discord"
cask "docker"
cask "figma"
cask "firefox"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-fira-mono-nerd-font"
cask "font-go-mono-nerd-font"
cask "font-hack-nerd-font"
cask "font-hasklug-nerd-font"
cask "font-jetbrains-mono-nerd-font"
cask "font-meslo-lg-nerd-font"
cask "font-symbols-only-nerd-font"
cask "github"
cask "gpg-suite"
cask "iterm2"
cask "itermai"
cask "karabiner-elements"
cask "keyboard-maestro"
cask "logi-options+"
cask "microsoft-auto-update"
cask "microsoft-edge"
cask "microsoft-teams"
cask "multipass"
cask "obs"
cask "obsidian"
cask "onedrive"
cask "openaudible"
cask "orbstack"
cask "pdf-expert"
cask "plex"
cask "protonvpn"
cask "qlcolorcode"
cask "qlimagesize"
cask "qlstephen"
cask "quicklook-json"
cask "raycast"
cask "scapple"
cask "screenflow"
cask "shortcat"
cask "signal"
cask "slack"
cask "spotify"
cask "stats"
cask "telegram"
cask "visual-studio-code"
cask "vlc"
cask "webpquicklook"
cask "whatsapp"
cask "zoom"
mas "Structured", id: 1499198946
vscode "eamodio.gitlens"
vscode "esbenp.prettier-vscode"
vscode "mechatroner.rainbow-csv"
vscode "ms-azuretools.vscode-docker"
vscode "redhat.vscode-yaml"
vscode "vscode-icons-team.vscode-icons"
vscode "yzhang.markdown-all-in-one"
vscode "zhuangtongfa.material-theme"
EOF
{{ end -}}

